body
{
/* baggrunden */
background:linear-gradient(#F4D03F,#16A085);
height:150vh;
}


/* Overksrift */
.header{
text-align: center;
font: 30px italic;
text-shadow: 5px 5px 6px green;
}
#dino{
position: absolute;
left: 400px;
top: 5px;
z-index: -1;
}


/* navigationsbar*/
.topnav {
overflow: hidden;
background-color: darkseagreen;
}
.topnav a {
float: left;
display: block;
color: beige;
padding: 10px 30px;
font-size: 18px;
text-decoration: none;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* kolonner */
.column {
float: left;
padding: 10px;
}
.column.side {
width: 22%;
}
.column.middle {
width: 50%;
}
#dinosaurtekst {
font-size: 45px;
font-family: fantasy;
}
/* pindsvin */
#pindsvin {
background-color: beige;
padding: 20px;
margin-top: 20px;
margin-left: 1150px;
}

/* kristina */
#kristina { 
background-color: beige;
padding: 20px;
margin-top: 20px;
margin-left: 1150px;
}